header nav {
    display: flex;
    justify-content: space-between;
}
.home-icon {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    cursor: pointer;
}
.notif-icon {
    
    width: 35px;
    height: 35px;
    margin-left: 15px;
    cursor: pointer;
}
.menu-icon {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    cursor: pointer;
}
.mid-header-div{
    margin-left: 300px;
}
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 400px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #292929;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    right: 0px;
    color:#000000 ;
    background-color:#9a9a9a;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 800px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .7);
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 800px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .7);
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }


.login-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85px;
    height: 25px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    color: rgb(49, 49, 49);
    cursor: pointer;
    box-shadow:inset 1px 1px 1px rgba(0, 0, 0, .1);
}
.login-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


    /*slider section*/

.slider{
    position: relative;
    font-size: 1em; 
    margin-top: 50px;
}

.slider .buttons-div {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
    
}

.slider .buttons-div i{
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

.slider .buttons-div i:hover{
    color: rgba(255, 255, 255, 0.4);
}

.slider .slides-div .item{
    position: relative;
    display: none;
}

.slider .slides-div .active{
    display: block;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.slider .slides-div .item span{
    position: absolute;
    color: #222;
    right: 10%;
    top: 40%;
    font-size: 1.5em;
}

.slider .slides-div .item img{
    width: 100%;
}